# Configuración de credenciales para Telegram
# Obtener estos valores de https://my.telegram.org
API_ID=tu_api_id_aqui
API_HASH=tu_api_hash_aqui
PHONE_NUMBER=tu_numero_de_telefono_con_codigo_pais # Ejemplo: +5355505961
USER_ID=tu_usuario_id_opcional # Se obtiene automáticamente al iniciar sesión